.geolokacija-page{
    #map{
        width: 800px;
        height: 600px;
        text-align: center;
        margin: auto;
    }
    .navbar-dark .navbar-nav .nav-link{
        color: #007bff;
    }
    background-color: #121212;
    .text-snow{
        color: white;
    }
    .blockquote-footer{
        background-color: #121212;
        text-align: center;
        color: #007bff
    }
    .card{
        background-color: #121212;
    }
}